@import url(https://fonts.googleapis.com/css?family=Amiko:regular,600,700);

.wrapper {
  border-radius: 10px;
	width: 100%;
  max-width: 260px;
  height: 40px;
  padding: 7px 10px 7px 9px;

  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.25);
  background: #1b1d28;
  cursor: pointer;
  .container {
    display: flex;
    gap: 6px;
  }
}
.search,
.search::placeholder {
  font-family: "Amiko", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #abafc4;
  width: 100%;
}
